h1 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Este é a folha de estilo do Branch Master! */

/* Comentário adicionado pela Branch Artur */